*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
    
#headerbg{
    background-image: url(../img/multiple\ fruits.webp);
    background-size: cover;
    background-position: center;  
    height: 100vh;
}

#logo{
    text-decoration: none;
    color: rgb(42, 223, 51);
    padding-left: 5px;
    font-weight: 800;
}
#nav-links{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: red;
    margin-top: 1rem;
    background-color: white;
    height: 10vh;
}

#ullist{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    gap: 60px;
}


.nav-items{
    text-decoration: none;
    display: flex;
    color: rgb(15, 126, 4);
    gap: 50px;
    list-style: none;
    font-size: 15pt;
    padding-top: 10px;
padding-right: 2rem;
font-weight: 300;

}

#header-text{
    padding-top: 10rem;
    padding-left: 10rem;
    color: white;
    font-size: 30px;
    background-color:  rgba(122, 180, 20, 0.747);;
}

#organic{
    padding-top: 10 rem;
    padding-left: 5rem ;
    padding-right: 5rem;
    margin-top: 5rem;
    text-align: center;
    font-size: 20pt;
}

.btn{
    background-color: rgb(143, 201, 43);
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid rgb(138, 241, 118);
    font-size: 20px;
    color: rgb(22, 10, 10);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.product-display{
    margin-left: 5rem;
    padding-right: 5rem;
    width: 100%;
    justify-content: space-evenly;
}

.zone-headings{
padding-top: 5rem;
padding-bottom: 2rem;
font-size: 40px;
}

.fruit-section{
    display: flex;
    width: auto
}

.veg-section{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 4px;
grid-row-gap: 4px;
}